@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  background-color: #EAEAEA;
} 

.coin__app {
  padding-top: 3em;
  color: #F0E9E9(46, 43, 43);
}


.coin__search {
  margin-top: 4em;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color:whitesmoke;
  border-top: 1px solid #96EB9E;
  padding-top: 2em;
}


.coin__text {
  margin-bottom: 1rem;
  text-align: center;
}

.coin__input {
  padding-left: 16px;
  max-width: 300px;
  height: 50px;
  border-radius: 4px;
  border: none;
  background-image: linear-gradient( 
    -225deg
    , #0eb38d 0%, #00000088 48%, #373aff 100% );

  color: #f3eaea;
  font-weight: 600;
}

.coin__input::placeholder {
  color: #ffffff8f;
} 


.table__header th>h4{
  display: flex;
  justify-content: space-around;
text-align: center;
}