* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;

}

.main-container {
  background-color: #0B151F ;
  min-height: 150px;

}
.main__container__bannerInnerItem {
  width: 100%;
  min-height: 1080px;
  position: absolute;
  top:0;
  z-index: 1;
  background-position: top;
  background-size: cover;
}